body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
  }
  
  .container {
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 38%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
  }
  
  .image-container {
    margin-left: 20px; /* Adjust margin as needed */
  }

  .image-container img {
    width: 300px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
  }
  
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #6c757d;
  }
  